## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("degree_data.csv")
application_df

,2020 National Employment Matrix title,Typical education needed for entry,Less than high school diploma,High school diploma or equivalent,"Some college, no degree",Associates degree,Bachelors degree,Masters degree,Doctoral or professional degree
0,Chief executives(1),Bachelors degree,1.5,8.3,14.2,5.1,40.5,23.7,6.7
1,General and operations managers,Bachelors degree,2.6,17.0,24.8,9.8,33.0,11.1,1.6
2,Legislators(1),Bachelors degree,1.5,8.3,14.2,5.1,40.5,23.7,6.7
3,Advertising and promotions managers,Bachelors degree,0.8,3.9,10.8,6.0,63.6,12.8,2.1
4,Marketing managers,Bachelors degree,0.7,3.8,9.3,5.0,55.8,23.5,2.0
...,...,...,...,...,...,...,...,...,...
789,"Material moving workers, all other(1)",No formal educational credential,19.8,48.2,19.1,6.2,5.7,0.8,0.1
790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
application_df = application_df.dropna()

In [3]:
application_df

,2020 National Employment Matrix title,Typical education needed for entry,Less than high school diploma,High school diploma or equivalent,"Some college, no degree",Associates degree,Bachelors degree,Masters degree,Doctoral or professional degree
0,Chief executives(1),Bachelors degree,1.5,8.3,14.2,5.1,40.5,23.7,6.7
1,General and operations managers,Bachelors degree,2.6,17.0,24.8,9.8,33.0,11.1,1.6
2,Legislators(1),Bachelors degree,1.5,8.3,14.2,5.1,40.5,23.7,6.7
3,Advertising and promotions managers,Bachelors degree,0.8,3.9,10.8,6.0,63.6,12.8,2.1
4,Marketing managers,Bachelors degree,0.7,3.8,9.3,5.0,55.8,23.5,2.0
...,...,...,...,...,...,...,...,...,...
785,"Pump operators, except wellhead pumpers(1)",High school diploma or equivalent,14.0,43.8,22.3,7.7,10.0,2.2,0.0
786,Wellhead pumpers(1),High school diploma or equivalent,14.0,43.8,22.3,7.7,10.0,2.2,0.0
787,Refuse and recyclable material collectors,No formal educational credential,23.3,46.9,18.0,5.0,6.3,0.3,0.1
788,"Tank car, truck, and ship loaders(1)",No formal educational credential,19.8,48.2,19.1,6.2,5.7,0.8,0.1
789,"Material moving workers, all other(1)",No formal educational credential,19.8,48.2,19.1,6.2,5.7,0.8,0.1

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

2020 National Employment Matrix title 790
Typical education needed for entry 8
Less than high school diploma 197
High school diploma or equivalent 327
Some college, no degree 268
Associates degree 179
Bachelors degree 330
Masters degree 212
Doctoral or professional degree 106

In [5]:
X = application_df.drop(columns = ["Typical education needed for entry", "2020 National Employment Matrix title"], axis=1)

In [6]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,Less than high school diploma,High school diploma or equivalent,"Some college, no degree",Associates degree,Bachelors degree,Masters degree,Doctoral or professional degree,2020 National Employment Matrix title_Accountants and auditors,2020 National Employment Matrix title_Actors,2020 National Employment Matrix title_Actuaries,...,2020 National Employment Matrix title_Writers and authors,2020 National Employment Matrix title_Zoologists and wildlife biologists(1),Typical education needed for entry_Associates degree,Typical education needed for entry_Bachelors degree,Typical education needed for entry_Doctoral or professional degree,Typical education needed for entry_High school diploma or equivalent,Typical education needed for entry_Masters degree,Typical education needed for entry_No formal educational credential,Typical education needed for entry_Postsecondary nondegree award,"Typical education needed for entry_Some college, no degree"
0,1.5,8.3,14.2,5.1,40.5,23.7,6.7,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.6,17.0,24.8,9.8,33.0,11.1,1.6,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.5,8.3,14.2,5.1,40.5,23.7,6.7,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.8,3.9,10.8,6.0,63.6,12.8,2.1,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.7,3.8,9.3,5.0,55.8,23.5,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['Typical education needed for entry_Bachelors degree'].values
# X = application_df.drop('Typical education needed for entry_Bachelors degree', axis=1).values
print(y)
print(X)
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0.
 0. 0. 1. 1. 0. 0. 1. 1. 0. 1. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1.
 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0.
 1. 1. 1. 0. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 0.
 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0.
 1. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
     Less than high school diploma  High school diploma or equivalent  \
0                              1.5                                8.3
1                              2.6                               17.0
2                              1.5                                8.3
3                              0.8                                3.9
4                              0.7                                3.8
..                             ...                                ...
785                           14.0                               43.8
786                           14.0                               43.8
787                           23.3                               46.9
788                           19.8                               48.2
789                           19.8                               48.2

     Some college, no degree  Associates degree  Bachelors degree  \
0                       14.2                5.1              40.5
1                       24.8                9.8              33.0
2                       14.2                5.1              40.5
3                       10.8                6.0              63.6
4                        9.3                5.0              55.8
..                       ...                ...               ...
785                     22.3                7.7              10.0
786                     22.3                7.7              10.0
787                     18.0                5.0               6.3
788                     19.1                6.2               5.7
789                     19.1                6.2               5.7

     Masters degree  Doctoral or professional degree
0              23.7                              6.7
1              11.1                              1.6
2              23.7                              6.7
3              12.8                              2.1
4              23.5                              2.0
..              ...                              ...
785             2.2                              0.0
786             2.2                              0.0
787             0.3                              0.1
788             0.8                              0.1
789             0.8                              0.1

[790 rows x 7 columns]

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [9]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 56

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 183
Trainable params: 183
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [11]:
# Train the model
#  YOUR CODE GOES 
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=50)

Epoch 1/50
16/16 [==============================] - 2s 33ms/step - loss: 0.6512 - accuracy: 0.7276 - val_loss: 0.6138 - val_accuracy: 0.8202
Epoch 2/50
16/16 [==============================] - 0s 8ms/step - loss: 0.6022 - accuracy: 0.7773 - val_loss: 0.5658 - val_accuracy: 0.8202
Epoch 3/50
16/16 [==============================] - 0s 5ms/step - loss: 0.5553 - accuracy: 0.7813 - val_loss: 0.5218 - val_accuracy: 0.8202
Epoch 4/50
16/16 [==============================] - 0s 6ms/step - loss: 0.5128 - accuracy: 0.7813 - val_loss: 0.4787 - val_accuracy: 0.8202
Epoch 5/50
16/16 [==============================] - 0s 6ms/step - loss: 0.4730 - accuracy: 0.7813 - val_loss: 0.4388 - val_accuracy: 0.8202
Epoch 6/50
16/16 [==============================] - 0s 6ms/step - loss: 0.4370 - accuracy: 0.7813 - val_loss: 0.4042 - val_accuracy: 0.8202
Epoch 7/50
16/16 [==============================] - 0s 5ms/step - loss: 0.4082 - accuracy: 0.7813 - val_loss: 0.3773 - val_accuracy: 0.8202
Epoch 8/50
16/16 [==============================] - 0s 10ms/step - loss: 0.3847 - accuracy: 0.7813 - val_loss: 0.3576 - val_accuracy: 0.8202
Epoch 9/50
16/16 [==============================] - 0s 10ms/step - loss: 0.3679 - accuracy: 0.7813 - val_loss: 0.3414 - val_accuracy: 0.8202
Epoch 10/50
16/16 [==============================] - 0s 6ms/step - loss: 0.3555 - accuracy: 0.7813 - val_loss: 0.3294 - val_accuracy: 0.8202
Epoch 11/50
16/16 [==============================] - 0s 7ms/step - loss: 0.3458 - accuracy: 0.7813 - val_loss: 0.3212 - val_accuracy: 0.8202
Epoch 12/50
16/16 [==============================] - 0s 11ms/step - loss: 0.3382 - accuracy: 0.7813 - val_loss: 0.3142 - val_accuracy: 0.8202
Epoch 13/50
16/16 [==============================] - 0s 5ms/step - loss: 0.3324 - accuracy: 0.7813 - val_loss: 0.3080 - val_accuracy: 0.8202
Epoch 14/50
16/16 [==============================] - 0s 5ms/step - loss: 0.3271 - accuracy: 0.7813 - val_loss: 0.3033 - val_accuracy: 0.8202
Epoch 15/50
16/16 [==============================] - 0s 6ms/step - loss: 0.3228 - accuracy: 0.7813 - val_loss: 0.2991 - val_accuracy: 0.8202
Epoch 16/50
16/16 [==============================] - 0s 7ms/step - loss: 0.3189 - accuracy: 0.7813 - val_loss: 0.2947 - val_accuracy: 0.8202
Epoch 17/50
16/16 [==============================] - 0s 6ms/step - loss: 0.3156 - accuracy: 0.7813 - val_loss: 0.2916 - val_accuracy: 0.8202
Epoch 18/50
16/16 [==============================] - 0s 7ms/step - loss: 0.3117 - accuracy: 0.7813 - val_loss: 0.2871 - val_accuracy: 0.8202
Epoch 19/50
16/16 [==============================] - 0s 6ms/step - loss: 0.3085 - accuracy: 0.7813 - val_loss: 0.2825 - val_accuracy: 0.8202
Epoch 20/50
16/16 [==============================] - 0s 6ms/step - loss: 0.3050 - accuracy: 0.7893 - val_loss: 0.2789 - val_accuracy: 0.8427
Epoch 21/50
16/16 [==============================] - 0s 6ms/step - loss: 0.3016 - accuracy: 0.8171 - val_loss: 0.2753 - val_accuracy: 0.8427
Epoch 22/50
16/16 [==============================] - 0s 9ms/step - loss: 0.2983 - accuracy: 0.8310 - val_loss: 0.2708 - val_accuracy: 0.8539
Epoch 23/50
16/16 [==============================] - 0s 6ms/step - loss: 0.2946 - accuracy: 0.8290 - val_loss: 0.2677 - val_accuracy: 0.8652
Epoch 24/50
16/16 [==============================] - 0s 6ms/step - loss: 0.2908 - accuracy: 0.8509 - val_loss: 0.2635 - val_accuracy: 0.8764
Epoch 25/50
16/16 [==============================] - 0s 6ms/step - loss: 0.2872 - accuracy: 0.8549 - val_loss: 0.2600 - val_accuracy: 0.8764
Epoch 26/50
16/16 [==============================] - 0s 10ms/step - loss: 0.2836 - accuracy: 0.8529 - val_loss: 0.2552 - val_accuracy: 0.8876
Epoch 27/50
16/16 [==============================] - 0s 6ms/step - loss: 0.2798 - accuracy: 0.8608 - val_loss: 0.2513 - val_accuracy: 0.8764
Epoch 28/50
16/16 [==============================] - 0s 6ms/step - loss: 0.2765 - accuracy: 0.8648 - val_loss: 0.2474 - val_accuracy: 0.8764
Epoch 29/50
16/16 [==============================] - 0s 5ms/step - loss: 0.2731 - accuracy: 0.8728 - val_loss: 0.2439 - val_accuracy: 0.8764
Epoch 30/50
16/16 [==============================] - 0s 7ms/step - loss: 0.2694 - accuracy: 0.8708 - val_loss: 0.2404 - val_accuracy: 0.8764
Epoch 31/50
16/16 [==============================] - 0s 7ms/step - loss: 0.2659 - accuracy: 0.8787 - val_loss: 0.2371 - val_accuracy: 0.8764
Epoch 32/50
16/16 [==============================] - 0s 7ms/step - loss: 0.2629 - accuracy: 0.8867 - val_loss: 0.2343 - val_accuracy: 0.8764
Epoch 33/50
16/16 [==============================] - 0s 8ms/step - loss: 0.2597 - accuracy: 0.8887 - val_loss: 0.2310 - val_accuracy: 0.8764
Epoch 34/50
16/16 [==============================] - 0s 8ms/step - loss: 0.2566 - accuracy: 0.8887 - val_loss: 0.2282 - val_accuracy: 0.8876
Epoch 35/50
16/16 [==============================] - 0s 6ms/step - loss: 0.2540 - accuracy: 0.8887 - val_loss: 0.2256 - val_accuracy: 0.8989
Epoch 36/50
16/16 [==============================] - 0s 8ms/step - loss: 0.2512 - accuracy: 0.8887 - val_loss: 0.2236 - val_accuracy: 0.8989
Epoch 37/50
16/16 [==============================] - 0s 9ms/step - loss: 0.2491 - accuracy: 0.8887 - val_loss: 0.2208 - val_accuracy: 0.8989
Epoch 38/50
16/16 [==============================] - 0s 6ms/step - loss: 0.2460 - accuracy: 0.8926 - val_loss: 0.2198 - val_accuracy: 0.8989
Epoch 39/50
16/16 [==============================] - 0s 6ms/step - loss: 0.2441 - accuracy: 0.8907 - val_loss: 0.2182 - val_accuracy: 0.8989
Epoch 40/50
16/16 [==============================] - 0s 7ms/step - loss: 0.2417 - accuracy: 0.8926 - val_loss: 0.2159 - val_accuracy: 0.8989
Epoch 41/50
16/16 [==============================] - 0s 13ms/step - loss: 0.2398 - accuracy: 0.8926 - val_loss: 0.2138 - val_accuracy: 0.8989
Epoch 42/50
16/16 [==============================] - 0s 7ms/step - loss: 0.2379 - accuracy: 0.8926 - val_loss: 0.2121 - val_accuracy: 0.8989
Epoch 43/50
16/16 [==============================] - 0s 6ms/step - loss: 0.2365 - accuracy: 0.9006 - val_loss: 0.2113 - val_accuracy: 0.8989
Epoch 44/50
16/16 [==============================] - 0s 9ms/step - loss: 0.2345 - accuracy: 0.9046 - val_loss: 0.2096 - val_accuracy: 0.8989
Epoch 45/50
16/16 [==============================] - 0s 15ms/step - loss: 0.2330 - accuracy: 0.9006 - val_loss: 0.2077 - val_accuracy: 0.8989
Epoch 46/50
16/16 [==============================] - 0s 16ms/step - loss: 0.2316 - accuracy: 0.9026 - val_loss: 0.2057 - val_accuracy: 0.8989
Epoch 47/50
16/16 [==============================] - 0s 10ms/step - loss: 0.2296 - accuracy: 0.9066 - val_loss: 0.2052 - val_accuracy: 0.8989
Epoch 48/50
16/16 [==============================] - 0s 11ms/step - loss: 0.2282 - accuracy: 0.8986 - val_loss: 0.2038 - val_accuracy: 0.8989
Epoch 49/50
16/16 [==============================] - 0s 7ms/step - loss: 0.2269 - accuracy: 0.9026 - val_loss: 0.2011 - val_accuracy: 0.8989
Epoch 50/50
16/16 [==============================] - 0s 9ms/step - loss: 0.2252 - accuracy: 0.9026 - val_loss: 0.2000 - val_accuracy: 0.9101

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

7/7 - 0s - loss: 0.2155 - accuracy: 0.9091 - 35ms/epoch - 5ms/step
Loss: 0.21554270386695862, Accuracy: 0.9090909361839294

In [13]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
from google.colab import files
nn.save('/content/degree_predictor.h5')
files.download('/content/degree_predictor.h5')